name: VoteGolang CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - run: go mod download
      - run: go test -v ./...

  infra-and-push:
    needs: build-and-test
    runs-on: ubuntu-latest
    outputs:
      vm_ip: ${{ steps.set-ip.outputs.VM_IP }}
    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Init & Apply
        working-directory: ./terraform
        run: |
          terraform init
          terraform apply -auto-approve \
            -var="project_id=${{ secrets.GCP_PROJECT_ID }}" \
            -var="vm_user=${{ secrets.VM_USER }}" \
            -var="ssh_public_key=${{ secrets.SSH_PUBLIC_KEY }}"

      - name: Export Instance IP
        id: set-ip
        working-directory: ./terraform
        run: |
          IP=$(terraform output -raw instance_ip)
          echo "VM_IP=$IP" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/votegolang:latest

  deploy:
    needs: infra-and-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Copy Files to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ needs.infra-and-push.outputs.vm_ip }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml,nginx/,logstash/, .env"
          target: "~/app"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ needs.infra-and-push.outputs.vm_ip }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/app
            # Create network if not exists (sometimes docker-compose fails if it's external)
            sudo docker network create app-network || true
            sudo docker compose pull
            sudo docker compose up -d --remove-orphans